.overlay {
  background-image: radial-gradient(farthest-side at 73% 21%, transparent, rgb(33 35 51));
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 2;
}

.buttons button {
  margin-right: 20px;
}
button.playBtn {
  background: white;
  color: black;
  font-weight: 700;
  border-radius: 4px;
}
button.addBtn {
  padding: 7px;
}
button.trailerBtn:hover,
button.addBtn:hover {
  background: #676c79;
}

button.playBtn:hover {
  background: #cbcbcb;
}
button.playBtn,
button.trailerBtn {
  padding: 13px 20px;
  width: auto;
  margin-bottom: 0;
  font-weight: bold;
}
button.trailerBtn,
button.addBtn {
  background: #474a53;
  color: white;
}

.data span:not(:last-child)::after {
  content: '•';
  margin: 0 8px;
}
.genres span:not(:last-child)::after {
  content: ',';
  margin-right: 5px;
}

.tabsHeader {
  background: transparent !important;
  box-shadow: 0 0 black !important;
  align-items: baseline !important;
  padding-left: 0 !important;
  border-bottom: 3px solid rgba(244, 244, 244, 0.2);
  padding-bottom: 0;
}
.MuiTabs-indicator {
  background: #ffffff !important;
}
.tabsHeader button {
  font-size: 17px;
  letter-spacing: 3px;
  color: #bdbdbd;
}
.tabsHeader button.active {
  color: rgb(255, 255, 255);
}
.tabPanel .MuiBox-root {
  padding-left: 0;
}
.itemsColumn {
  display: flex;
  justify-content: space-around;
  flex: 0.5;
}
