.homeSlider .slick-prev,
.homeSlider .slick-next {
  z-index: 1;
  top: 0;
  bottom: 10px;
  margin: auto;
  width: 50px;
  height: 20px;
  font-size: 0;
  line-height: 0;
  position: absolute;
  display: block;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background-color: transparent;
}

.homeSlider .slick-prev::after,
.homeSlider .slick-next::after {
  content: '';
  position: absolute;
  top: -55px;
  bottom: -72px;
  left: -20px;
  right: 0px;
}

.homeSlider .slick-prev:before,
.homeSlider .slick-next:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border-width: 3px;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  border-style: solid;
  border-color: white;
}

.homeSlider .slick-prev:before {
  border-width: 3px 0 0 3px;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.homeSlider .slick-next:before {
  border-width: 3px 3px 0 0;
  transform: translate(-50%, -50%) rotate(45deg);
}

.homeSlider .slick-prev {
  left: 10px;
}

.homeSlider .slick-next {
  right: 10px;
}

.slick-list {
  padding: 20px;
  min-height: 220px;
}
