@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Arial, Helvetica;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1d29;
}
